<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="styles/slider.css">
  <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
  <div id="face-trace">
    <div class="content-wrapper">
      <div class="header">
        <h1>Face<span>Trace</span></h1>
        <div class="date">Today (18 Aug)</div>
        <div class="toggle-switch">
          <div class="text">ON</div>
          <label class="switch" >
            <input type="checkbox" v-model="shouldTrack" @change="toggleTrack">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="emotion-display">
        <div class="emoticon on" v-bind:class="[overallMood]"></div>
        <div class="description">
          <h2>Hey, I think you are happy</h2>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            from 45 BC, making it over 2000 years old.</p>
        </div>
      </div>
      <!-- <div class="emotion-display">
        <div class="emoticon off"></div>
        <div class="description">
          <p>FaceTrace analyses the emotions of a person by tracing his/her face and telling the person about how his behaviour is and
          how can he change it.</p>
        </div>
      </div> -->
      <ul class="emotion-meter">
        <li v-for="(ratio, mood) in moods">
          <div class="text">{{ mood }}</div>
          <div class="meter-container">
            <div class="meter-outer">
              <div class="meter-inner" v-bind:style="{ width: (ratio*100) + '%' }"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="nav-link">Analyse Report</div>
  </div>

  <script src="scripts/vue.js"></script>
  <script src="scripts/jquery-ajax.js"></script>
  <script src="scripts/main.js"></script>
</body>

</html>