<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles/facetrace.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/constants.js"></script>
    <script src="/scripts/helper.js"></script>
    <script src="/scripts/plotter.js"></script>
</head>
<body class="main-body-div">
    <div class = "main-header">
        <h1 class="logo-name">Face<span class="trace-name">Trace</span></h1>
    </div>
    <div class = "body-content-div">
        <div class = "body-heading">
            <h1>Hey, I think you are feeling <%=overallMood%> <div class="smiley-face-happiness"></div></h1>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
        <div class = "body-content">
            <div class="metric-graphs metric-graph-one" id="basiccolumn">

            </div>
            <div class="metric-graphs metric-graph-two" id="piewithlegend">
                    
            </div>
        </div>    
    </div>
</body>
</html>
